extends layout

block content
    .container
        .generalTxt
            if users && users.length > 0
                if users.length === 1
                    text #[strong Showing latest #{users.length} user registered]
                else
                    text #[strong Showing latest #{users.length} users registered]

                ul.circle
                    each user in users
                        li
                            a(href="/userProfile/" + user.username)
                                .hyperlink
                                    text #{user.username}
                            text !{" "} (date joined #{user.dateJoined})
            else
                text #[strong No users registered]